<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Matches</title>
</head>
<body>
<p><i>Current Season</i>
<br>{% for match in current_tournament_matches %} {{ match.tournament }}
    <p>
    {{ match.date }} {{ match.time }}
    <br><a href={{ match.get_absolute_url }}>{{ match.team_a.name }} vs {{ match.team_b.name }}</a>
    </p>
{% endfor %}
<hr>
</p>
<p><i>Past Seasons</i>
<br>{% for match in other_tournaments_matches %} {{ match.tournament }}
    <p>
    {{ match.date }} {{ match.time }}
    <br><a href={{ match.get_absolute_url }}>{{ match.team_a.name }} vs {{ match.team_b.name }}</a>
    </p>
{% endfor %}

</p>

<p>

</p>

</body>
</html>