<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<p></p>

<p>
{{ selected_tournament.name }} {% for season in current_season %} {{ season.year }} {% endfor %}
</p>

<p>Selected Tournament Matches:
    <br>{% for match in selected_tournament_matches %}
    <br>{{ match.date }} {{ match.time }}
    <br><a href={{ match.get_absolute_url }}>{{ match.team_a.name }} vs {{ match.team_b.name }}</a>
</p>
{% endfor %}

<p>Selected Tournament Teams:
    {% for team in selected_tournament_teams %}
    <br><a href={{ team.get_absolute_url }}>{{ team.name }}</a>
    {% endfor %}
</p>
<p>
    Past Seasons {% for season in other_seasons %} <a href={{ season.get_absolute_url }}> {{ season.year }}
</a> {% endfor %}
</p>
</body>
</html>