<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All</title>
</head>
<body>
<p> Matches Online Stats:
    {% for stats_match in all_online_stats_match %}
    <p>
    {{ stats_match.match.season.year }} {{ stats_match.match.tournament.name }} {{ stats_match.stats_match_online_id }}
    <a href="{{ stats_match.get_absolute_url }}"> {{ stats_match.match.team_a.name }} - {{ stats_match.match.team_b.name }}</a>
    <a href="{% url 'stats_match_online_edit' stats_match.pk %}">Update</a>
    </p>
    {% endfor %}
<hr>
</p>

<p>Add New Match Stats:</p>
<p><form method="POST">
    {% csrf_token %}

    {% for f in form %}
    <p><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}: </label>{{ f }}</p>
    <div class="form-error">{{ form.title.errors }}</div>
    {% endfor %}

    <button type="submit">Add</button>
    </form>
</p>


</body>
</html>