<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Teams</title>
</head>
<body>
<p>
    {% for team in current_season_teams %}
    <p>
    <a href={{ team.get_absolute_url }}>{{ team.name }}</a> - {{ team.tournament }}
    </p>
    {% endfor %}
<hr>
</p>
<p>
    {% for team in other_seasons_teams %}
    <p>
    <a href={{ team.get_absolute_url }}>{{ team.name }}</a> - {{ team.tournament }}
    </p>
    {% endfor %}
<hr>
</p>


<p><a href="add/">Add New Team</p>
</body>
</html>