<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Teams</title>
</head>
<body>
<p>
    <p>
    {{ selected_team.name }}
    </p>
    <p>
    {{ selected_team.tournament }}
    </p>

</p>
<p><i>Current Season Team Matches</i>
<br>{% for match in team_current_tournament_matches %} {{ match.tournament }}
    <p>
    {{ match.date }} {{ match.time }}
    <br><a href={{ match.get_absolute_url }}>{{ match.team_a.name }} vs {{ match.team_b.name }}</a>
    </p>
{% endfor %}
<hr>
</p>

<p>

</p>

</body>
</html>