<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Teams</title>
</head>
<body>
<p> Season {% for season in current_season %} {{ season.year }} {% endfor %} Teams:
    {% for team in current_season_teams %}
    <p>
    <a href={{ team.get_absolute_url }}>{{ team.name }}</a> - {{ team.tournament }}
    </p>
    {% endfor %}
<hr>
</p>
<p> Other Seasons
    {% for season in other_seasons %}
    <p>
    <a href={{ season.get_absolute_url }}>{{ season.year }}</a>
    </p>
    {% endfor %}
<hr>
</p>


<p><a href="add/">Add New Team</p>
</body>
</html>